In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from utils.FinalUtils import load_ec_csv, create_voltage_schedule

In [16]:
icp_df = pd.read_csv('./data/Example/Example_processed_data_020525_after_25000.csv')

icp_df

           Time          Pt
0     25000.121  180.001134
1     25000.272  130.000592
2     25000.422   70.000171
3     25000.573  160.000896
4     25000.723   70.000171
...         ...         ...
4972  25747.920  100.000350
4973  25748.070  100.000350
4974  25748.221  160.000896
4975  25748.371   80.000224
4976  25748.522   90.000283

[4977 rows x 2 columns]

In [17]:
ec_df = load_ec_csv('./data/Example/Raw data_potential sqwave 0.4-0.95v_1h.csv')
ec_df

          Voltage (V)  Current (A/cm2)
Time (s)
0.00          0.12947    -3.637200e-05
0.02          0.67922     2.874500e-06
0.07          0.67922     7.780200e-06
0.12          0.67922     1.648000e-06
0.14          0.67922     2.261200e-06
...               ...              ...
21739.44      0.67922    -8.048600e-07
21740.36      0.67922    -1.418100e-06
21740.84      0.67922    -1.418100e-06
21741.72      0.67922    -1.916300e-07
21742.72      0.67922    -1.916300e-07

[97127 rows x 2 columns]

In [12]:
from utils.FinalUtils import add_potential_to_dataframe

# TODO: ALSO GET THIS INFO FROM USER: T, v, cycles

# I0 minimum starting time
# cycles how often to sample
# T is period
T = 60  #
# v is list of voltages to cycler through
v = [0.4, 0.95]  # volts
cycles = 3

In [18]:
from utils.FinalUtils import load_trunc_icp_csv
# load_trunc_icp_csv(icp_df: pd.DataFrame, del_start: int, response_delay: int, t: str) -> pd.DataFrame
icp_df = load_trunc_icp_csv(icp_df, del_start=25, response_delay=2730, t='Time')

In [19]:
icp_df

Empty DataFrame
Columns: [Pt]
Index: []

In [6]:
from utils.FinalUtils import interpolate

interp_df = interpolate(icp_trunc_df=icp_df, ec_df=ec_df)

[interpolate] Starting with ec_df shape: (97127, 2), icp_trunc_df shape: (4977, 1)
[interpolate] Extracted arrays: ec_times (len=97127), ec_potentials (len=97127)
[interpolate] Extracted icp_times (len=4977)
[interpolate] Performing interpolation...
[interpolate] Interpolation completed
[interpolate] Saving to /Users/bc/ICP-MS Plots/output/export_data/interpolated_data.csv
[interpolate] CSV saved successfully
[interpolate] Returning dataframe with shape (4977, 3)

In [7]:
tN = create_voltage_schedule(interp_df.index.min(), period=T, voltages=v, cycles=cycles)
final_df = add_potential_to_dataframe(tN, interp_df.copy())
final_df

                 Pt  Voltage (V)  Current (A/cm2)  Applied_Voltage (V)
Time
0.000    180.001134     0.129470        -0.000036                  0.4
0.151    130.000592     0.679233         0.000003                  0.4
0.301     70.000171     0.464790        -0.000015                  0.4
0.452    160.000896     0.679256         0.000004                  0.4
0.602     70.000171     0.679220         0.000002                  0.4
...             ...          ...              ...                  ...
747.799  100.000350     0.395141        -0.000010                  0.4
747.949  100.000350     0.679220         0.000004                  0.4
748.100  160.000896     0.679220         0.000002                  0.4
748.250   80.000224     0.679220         0.000016                  0.4
748.401   90.000283     0.679220         0.000002                  0.4

[4977 rows x 4 columns]